<h1>images</h1>



<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {{#each photos}}
        <img src="{{imageURL}}" alt="" class="swiper-slide">
        {{/each}}
    </div>
</div>


<!-- If we need navigation buttons -->
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
